<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= kindOfDay %></h1>
</div>

<div class="box">
  <% for(let i = 0; i < newItems.length; i++) { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        onchange="this.form.submit()"
        name="checkedItem"
        value="<%= newItems[i]._id %>"
      />
      <input type="hidden" name="listName" value="<%= kindOfDay %>" />
      <p><%=newItems[i].name%></p>
    </div>
  </form>
  <% } %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="task"
      placeholder="Enter the task"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= kindOfDay %>">+</button>
  </form>
</div>

<!-- Previously coded for test purpose -->
<!-- <% if(kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
    <h1 style="color: blueviolet">It is a <%= kindOfDay %>!</h1>
    <%} else { %>
    <h1 style="color: darkmagenta">It is a <%= kindOfDay %>!</h1>
    <%}%> -->

<%- include("footer") -%>
